@import ".././colors.css"; /* All general colors */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500&family=Varela+Round&display=swap');

/* Basic elements */
:root{
  --container-outer-spces:35px;
}
.fullWidht {
  width: 100% !important;
}
.flexed {
  display: flex;
}
.noscroll {
  overflow: hidden !important;
}
.fullWidth {
  width: 100% !important;
}
.flexedCenter {
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.flexedSpaced {
  display: flex;
  justify-content: space-between;
}
.flexedMiddle {
  display: flex;
  align-items: center;
}
.flexedTop {
  display: flex;
  align-items: flex-start;
}
.flexXend {
  display: flex;
  justify-content: flex-end;
}
.flexXstart {
  display: flex;
  justify-content: flex-start;
}
.flexYend {
  align-items: flex-end;
}
.flexedWrap {
  flex-wrap: wrap;
}
.flexGap-8{
  gap:8px;
}
a[href].clearLink {
  text-decoration: none;
}
.mobile {
  display: none !important;
}
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.no-startup-transition {
  -webkit-transition: all 0s ease-in-out !important;
  -moz-transition: all 0s ease-in-out !important;
  -o-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
}
[aria-hidden="true"] {
  display: none;
}
.cmp {
  display: block !important;
}
.textOverflowEllipsis {
  max-width: 100%;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hidden {
  display: none;
}
.margin0{margin:0!important;}
* {
  border: 0;
  padding: 0px;
  margin: 0px;
  outline: 0 !important;

  font-family: "Assistant", Arial!important;
  line-height: 110%;
  text-align: left;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
/* -- */
/* General */
body {
  background: #ebedef;
  min-height: 100vh;
  max-width: 100%;
  width: 100vw;
  direction:ltr
}
.App {
  display: flex;
}
.pageContainer {
  width: 100%;
  min-height: 100vh;
}
.sideBarVisible .pageContainer {
  width: calc(100vw - 256px);
}
nav.mainMenu {
  min-width: 256px;
  width: 256px;
  margin-left: -256px;
  background: #3c4b64;
  position: sticky;
  top: 0;
  height: 100vh;
}
.pageContainer.menuIsOpen nav.mainMenu {
  margin-left: 0;
}
.MuiTablePagination-root {
  overflow: hidden !important;
}
header {
  min-height: 56px;
  width: 100%;
  z-index:999;
  border-bottom: 1px solid var(--gray-border);
}
/* --- */

.main {
  width: calc(100% - 2 * var(--container-outer-spces));
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.App {
  position: relative;
}

.breadCrumbs {
  width: 100%;
  padding: 15px;
  margin-bottom:var(--container-outer-spces);
  background: white;
}
.breadCrumbs ul {
  display: flex;
  align-items: center;
}
.breadCrumbs ul li {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.breadCrumbs ul li a {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;

  text-decoration: none;
}
.breadCrumbs ul li:after {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  border-right: 0.1em solid var(--gray-text);
  border-bottom: 0.1em solid var(--gray-text);
  transform: rotate(-45deg);
  margin-left: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.basicBlockSidesSpaces{padding-right:20px;padding-left:20px;}
.basicBlockSpaces{padding: 35px 20px;}
.whiteBlock{
  background:#fff;
  border: 1px solid #d8dbe0;
  color: var(--basic-txt);
  .top{
    padding: 15px 20px;
    width:100%;
    display:flex;
    align-items:center;
    font-size:15px;
    font-weight:500;
    border-bottom:1px solid var(--gray-border);
    color: var(--basic-txt);
  }
  .innerContainer{

  }
}
.basicFields{
  .regBtn{min-width:80px;cursor:pointer;font-size:14px;font-weight:400;height:40px;display:flex;align-items:center;justify-content: center;border:0;outline:0;}
  .grayBtn{color: #4f5d73;background:var(--basic-gray);}
  .blueBtn{color: white;background:var(--basic-blue);}
  .redBtn{color: white;background:var(--basic-red);}
  .MuiBox-root{
      input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
      display: flex;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: 6px .75rem;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5;
      background-clip: padding-box;
      color: var(--basic-txt);
      background-color: #fff;
      border: 1px solid var(--gray-border);
      border-radius: 0;
      padding-top:9px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
  .MuiInputLabel-filled.MuiInputLabel-shrink{color:rgba(0, 0, 0, 0.54)!important;font-size:11px;left: 14px;top:5px;transform: translate(8px,0)!important;}
  .makeStyles-labelRoot-1{
    top:50%;
    transform: translateY(-50%);
  }
  
  .field{
    width:250px;
    margin-bottom:15px;

    label{
      display:block;
      margin: 0;
      margin-bottom: 8px;
      color: #a2a2a2;
      font-size: 13px;
    }
    .inputField{
      border:1px solid var(--gray-border);
      height:40px;
      width:100%;


      input,select{width:100%;height:100%;font-size:14px;border:0!important;padding:0 5px!important;}
    }
  }
}
.basicTables{
  .MuiContainer-root{padding:0;width:100%!important;max-width:100%!important;}
  .MuiPaper-root{border-radius:0!important;border:0!important;box-shadow: unset;}
  .MuiTable-root{
    *{
      font-family: 'Heebo',Arial!important;
    }
    .MuiTableCell-root{border:0!important}
    .MuiTableContainer-root{border-radius:0!important;}
    .MuiTableRow-root{
      border-bottom:1px solid var(--gray-border);
    }
    .MuiTableRow-root:nth-child(2n+1){
        background:rgba(0,0,21,.05)!important;
    }
    .MuiTableRow-head{
      font-weight:500;
      border-bottom:2px solid #d8dbe0;
      border-top:1px solid var(--gray-border);
      
      .MuiTableCell-root{
        font-size:15px;
        font-weight:400;
        color:var(--basic-txt)!important;
        background:white!important;
      }
    }
    .MuiTableFooter-root{
      .MuiTablePagination-toolbar{
        padding:15px 5px;
        gap:15px;

        div[class*="makeStyles"]{
          display:flex;
          border:1px solid var(--gray-border);
          flex-direction: row-reverse;
          margin:0;
        }
        p{
          direction: ltr!important;
        }
      }
      .MuiTableRow-root{
        background:none!important;
        border-top:2px solid var(--gray-border)!important;
        border-bottom:0!important;
      }
      .MuiIconButton-root{
        background:white!important;
        height:35px;
        display:flex;
        align-items:center;
        justify-content: center;
        border-radius:0;
        border-right:1px solid var(--gray-border);
        &:hover{
          background:rgba(214,218,222,0.2)!important;
        }

        .MuiSvgIcon-root{
          color: #b1b7c1;
        }
      }
      .MuiIconButton-root:first-child{
        border-right:0;
      }
      .MuiButtonBase-root.Mui-disabled{
        cursor: not-allowed!important;
      }
      .Mui-disabled{
        background: #ebedef!important;
        cursor: not-allowed!important;

        svg{
          fill:#ced2d8!important;
        }
      }

      .makeStyles-root-4{
        display:flex;
        border:1px solid var(--gray-border);
        flex-direction: row-reverse;
        margin:0;
      }
    }
    a{
      color: #3c4b64!important;
      svg{
        fill:#3c4b64!important;
      }
      &:hover{
        color:#7b8aa3!important;
        svg{
          fill:#7b8aa3!important;
        }
      }
    }
  }
}

.entirePager{
  display:flex;
  flex-direction: column;
  min-height:calc(100vh - 56px);

  .main{
    min-height:100%;
    flex:1;
    padding-bottom:var(--container-outer-spces);
  }

}

.MuiFormControlLabel-root{
  margin-left:-8px!important;

}
.MuiTooltip-tooltip{font-size:13px!important;  font-family: "Heebo", Arial!important;}


div[id*="react-alert"]{

  direction:ltr;

  div{
    div{
      gap:15px;
    }
  }
  svg{
    margin:0!important;
    margin-right:15px;
  }
  button{margin:0!important;}
}