:root {
    --basic-txt: #3c4b64;
    --gray-text: #8a93a2;
    --gray-title: #3c4b64;
    --gray-border: #d8dbe0;
    --gray-border: #d8dbe0;
    --basic-blue: #438cd3;
    --basic-gray: #ced2d8;
    --basic-red: #e55353;

}